.adminPassTextBox {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

